html {
  font-size: 62.5%; }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
  box-sizing: inherit; }

body {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

header {
  font-family: "Book Antiqua"; }
  header nav .nav-links {
    font-size: 1.9em;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    @media screen and (max-width: 800px) {
      header nav .nav-links {
        font-size: 1.5em; } }
    @media screen and (max-width: 525px) {
      header nav .nav-links {
        display: none; } }
    header nav .nav-links li {
      list-style: none;
      padding: 15px 40px; }
      header nav .nav-links li a {
        text-decoration: none;
        position: relative;
        color: #000000; }
        header nav .nav-links li a:before {
          content: "";
          position: absolute;
          top: 25px;
          width: 100%;
          height: 2px;
          background: black;
          -webkit-transform: scaleX(0);
          -ms-transform: scaleX(0);
          transform: scaleX(0);
          -webkit-transform-origin: left;
          -ms-transform-origin: left;
          transform-origin: left;
          -webkit-transition: all 0.3s ease-in-out 0s;
          -o-transition: all 0.3s ease-in-out 0s;
          transition: all 0.3s ease-in-out 0s; }
        header nav .nav-links li a:hover:before {
          visibility: visible;
          -webkit-transform: scaleX(1);
          -ms-transform: scaleX(1);
          transform: scaleX(1); }
  header .hamburger {
    position: absolute;
    top: 25px;
    right: 20px;
    width: 45px;
    height: 3px;
    background: #000000;
    display: none; }
    header .hamburger::before, header .hamburger::after {
      content: "";
      position: absolute;
      width: 45px;
      height: 3px;
      background: #000000; }
    header .hamburger::before {
      top: 10px; }
    header .hamburger::after {
      top: -10px; }
    @media screen and (max-width: 525px) {
      header .hamburger {
        display: block; } }
  header .mobile-nav-menu {
    font-family: "Century Gothic";
    background: #EFEFEF;
    outline: 2px solid #ffffff;
    outline-offset: -10px;
    width: 100%;
    height: 500px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: fixed;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.5s cubic-bezier(0.89, 0.04, 0.19, 0.825);
    -o-transition: all 0.5s cubic-bezier(0.89, 0.04, 0.19, 0.825);
    transition: all 0.5s cubic-bezier(0.89, 0.04, 0.19, 0.825);
    -webkit-transform: translateY(-600px);
    -ms-transform: translateY(-600px);
    transform: translateY(-600px); }
    header .mobile-nav-menu .close-menu {
      position: absolute;
      top: 25px;
      right: 30px;
      font-size: 2.5em; }
    header .mobile-nav-menu .mobile-nav-links {
      text-align: center; }
      header .mobile-nav-menu .mobile-nav-links li {
        font-size: 2.6em;
        padding: 30px 0;
        list-style: none;
        text-transform: uppercase; }
        header .mobile-nav-menu .mobile-nav-links li a {
          text-decoration: none;
          color: #000000; }
          header .mobile-nav-menu .mobile-nav-links li a:visited {
            text-decoration: none; }

.hero {
  background: #ebebeb;
  margin: 0 auto;
  text-align: center;
  padding: 140px 0;
  font-family: "Book Antiqua"; }
  @media screen and (max-width: 525px) {
    .hero {
      height: 100vh;
      background: #ffffff; } }
  .hero .hero-logo {
    width: 310px; }
    @media screen and (max-width: 525px) {
      .hero .hero-logo {
        margin-top: 250px; } }
  .hero .hero-title {
    font-weight: bold;
    font-size: 3em;
    padding: 120px 0; }
    @media screen and (max-width: 800px) {
      .hero .hero-title {
        font-size: 2.5em; } }
    @media screen and (max-width: 525px) {
      .hero .hero-title {
        display: none; } }
  .hero .hero-quote {
    font-size: 2em;
    width: 400px;
    margin: 0 auto; }
    @media screen and (max-width: 525px) {
      .hero .hero-quote {
        display: none; } }

.summary {
  font-family: "Century Gothic";
  margin-bottom: 80px;
  text-align: center; }
  @media screen and (max-width: 525px) {
    .summary {
      display: none; } }
  .summary .summary-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    width: 1200px;
    margin: 60px auto; }
    @media screen and (max-width: 1210px) {
      .summary .summary-group {
        width: 800px; } }
    @media screen and (max-width: 800px) {
      .summary .summary-group {
        width: 400px;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center; } }
    .summary .summary-group .laser .beam {
      width: 50px; }
    .summary .summary-group .aqua .aquadrop {
      width: 48px; }
    .summary .summary-group .specs {
      margin-top: 25px; }
      .summary .summary-group .specs .frames {
        width: 80px; }
    .summary .summary-group .sum-title {
      font-weight: bold;
      font-size: 2.5em; }
    .summary .summary-group .sum-desc {
      font-size: 1.5em; }
    .summary .summary-group .laser,
    .summary .summary-group .aqua,
    .summary .summary-group .specs {
      width: 300px; }
      @media screen and (max-width: 1210px) {
        .summary .summary-group .laser,
        .summary .summary-group .aqua,
        .summary .summary-group .specs {
          width: 400px; } }
      @media screen and (max-width: 800px) {
        .summary .summary-group .laser,
        .summary .summary-group .aqua,
        .summary .summary-group .specs {
          margin: 40px 0 40px 0; } }
  .summary .btn-moreinfo {
    width: 200px;
    height: 50px;
    border-radius: 50px;
    border: 3px solid #777777;
    color: #00AAC5;
    font-size: 2em;
    background: #ffffff;
    cursor: pointer; }

.products {
  font-family: "Century Gothic"; }
  .products .glasses {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background: #ebebeb;
    width: 95%;
    height: 500px;
    margin: 0 auto;
    margin-bottom: 60px;
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); }
    @media screen and (max-width: 800px) {
      .products .glasses {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        height: 450px; } }
    .products .glasses .glasses-img {
      background-image: url("../img/glasses1.jpg");
      background-size: cover;
      background-position: center;
      width: 400px;
      width: 60%;
      -webkit-clip-path: polygon(0 0, 100% 0, 63% 100%, 0% 100%);
      clip-path: polygon(0 0, 100% 0, 63% 100%, 0% 100%); }
      @media screen and (max-width: 800px) {
        .products .glasses .glasses-img {
          -webkit-clip-path: none;
          clip-path: none;
          height: 250px;
          width: 100%; } }
    .products .glasses .glasses-info {
      width: 40%;
      text-align: right;
      margin: 140px 40px 0px 0px; }
      @media screen and (max-width: 800px) {
        .products .glasses .glasses-info {
          width: 100%;
          text-align: center;
          margin-top: 20px;
          margin-bottom: 35px; } }
  .products .aqua-treatment {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background: #ebebeb;
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 95%;
    height: 500px;
    margin: 0 auto;
    margin-bottom: 60px; }
    @media screen and (max-width: 800px) {
      .products .aqua-treatment {
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
        -ms-grid-rows: (1fr)[2];
        grid-template-rows: repeat(2, 1fr);
        grid-template-areas: "aquaimage" "info"; } }
    @media screen and (max-width: 800px) {
      .products .aqua-treatment {
        height: 510px; } }
    .products .aqua-treatment .aquatreatment-img {
      background-image: url("../img/aqua1.jpg");
      background-size: cover;
      background-position: center;
      width: 400px;
      width: 60%;
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 32% 100%);
      clip-path: polygon(0 0, 100% 0, 100% 100%, 32% 100%); }
      @media screen and (max-width: 800px) {
        .products .aqua-treatment .aquatreatment-img {
          grid-area: aquaimage;
          -webkit-clip-path: none;
          clip-path: none;
          height: 250px;
          width: 100%; } }
    .products .aqua-treatment .aquatreatment-info {
      width: 40%;
      text-align: right;
      margin: 120px 40px 0px 0px; }
      @media screen and (max-width: 800px) {
        .products .aqua-treatment .aquatreatment-info {
          grid-area: info;
          width: 100%;
          text-align: center;
          margin-top: 20px; } }
      @media screen and (max-width: 525px) {
        .products .aqua-treatment .aquatreatment-info {
          margin-top: 20px; } }
  .products .laser-eye {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background: #ebebeb;
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 95%;
    height: 500px;
    margin: 0 auto;
    margin-bottom: 60px; }
    @media screen and (max-width: 800px) {
      .products .laser-eye {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        height: 540px; } }
    .products .laser-eye .lasereye-img {
      background-image: url("../img/lasereye.jpg");
      background-size: cover;
      background-position: center;
      width: 400px;
      width: 60%;
      -webkit-clip-path: polygon(0 0, 100% 0, 63% 100%, 0% 100%);
      clip-path: polygon(0 0, 100% 0, 63% 100%, 0% 100%); }
      @media screen and (max-width: 800px) {
        .products .laser-eye .lasereye-img {
          -webkit-clip-path: none;
          clip-path: none;
          height: 250px;
          width: 100%; } }
    .products .laser-eye .lasereye-info {
      width: 40%;
      text-align: right;
      margin: 120px 40px 0px 0px; }
      @media screen and (max-width: 1210px) {
        .products .laser-eye .lasereye-info {
          margin-top: 90px; } }
      @media screen and (max-width: 800px) {
        .products .laser-eye .lasereye-info {
          width: 100%;
          text-align: center;
          margin-top: 25px; } }
      @media screen and (max-width: 800px) {
        .products .laser-eye .lasereye-info {
          margin-top: 20px; } }
  .products .product-title {
    font-weight: bold;
    font-style: italic;
    font-size: 2.8em;
    margin-bottom: 10px; }
  .products .product-desc {
    font-size: 2.1em;
    margin-bottom: 30px; }
    @media screen and (max-width: 800px) {
      .products .product-desc {
        font-size: 1.8em;
        width: 450px;
        margin: 0 auto;
        margin-bottom: 20px; } }
    @media screen and (max-width: 525px) {
      .products .product-desc {
        font-size: 1.5em;
        width: 300px; } }
  .products .btn-appointment {
    width: 250px;
    height: 50px;
    border-radius: 50px;
    border: 3px solid #777777;
    color: #00AAC5;
    font-size: 2em;
    background: #ffffff;
    cursor: pointer; }
    @media screen and (max-width: 525px) {
      .products .btn-appointment {
        width: 200px;
        height: 40px;
        font-size: 1.5em; } }

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 95%;
  margin: 0 auto;
  height: 500px;
  margin-bottom: 60px;
  font-family: "Century Gothic";
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); }
  @media screen and (max-width: 800px) {
    .about {
      display: -ms-grid;
      display: grid;
      -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
      -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
      grid-template-areas: "logo" "info"; }
    .about > .aquatreatment-info {
    -ms-grid-row: 2;
    -ms-grid-column: 1; } }
  .about .about-logo {
    background: #ebebeb;
    width: 50%;
    position: relative; }
    @media screen and (max-width: 800px) {
      .about .about-logo {
        grid-area: logo;
        width: 100%;
        height: 250px; } }
    .about .about-logo .about-whitelogo {
      width: 450px;
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%); }
      @media screen and (max-width: 1210px) {
        .about .about-logo .about-whitelogo {
          width: 350px; } }
      @media screen and (max-width: 525px) {
        .about .about-logo .about-whitelogo {
          width: 300px; } }
  .about .about-info {
    background: #EFEFEF;
    width: 50%;
    text-align: center; }
    @media screen and (max-width: 800px) {
      .about .about-info {
        grid-area: info;
        width: 100%;
        height: 400px;
        margin-bottom: 60px; } }
    @media screen and (max-width: 800px) {
      .products .aqua-treatment .aquatreatment-img {
    -ms-grid-row: 1;
    -ms-grid-column: 1; }
      .products .aqua-treatment .aquatreatment-info {
    -ms-grid-row: 2;
    -ms-grid-column: 1; }
    .about .about-logo {
    -ms-grid-row: 1;
    -ms-grid-column: 1; }
      .about .about-info {
    -ms-grid-row: 2;
    -ms-grid-column: 1; }
    .about > .about-info {
    -ms-grid-row: 2;
    -ms-grid-column: 1; } }
    .about .about-info .about-history {
      width: 350px;
      margin: 0 auto;
      margin-top: 100px; }
      @media screen and (max-width: 800px) {
        .about .about-info .about-history {
          margin-top: 50px; } }
      @media screen and (max-width: 525px) {
        .about .about-info .about-history {
          width: 300px;
          margin-top: 40px; } }
      .about .about-info .about-history .about-title {
        font-weight: bold;
        font-size: 2.2em;
        font-style: italic;
        margin-bottom: 20px; }
      .about .about-info .about-history .about-desc {
        font-size: 1.6em; }

.test {
  background: #ebebeb;
  margin: 0 auto;
  padding-top: 80px;
  font-family: "Century Gothic";
  width: 95%;
  text-align: center;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); }
  @media screen and (max-width: 800px) {
    .test {
      margin-top: 215px; } }
  @media screen and (max-width: 525px) {
    .test {
      padding-top: 60px; } }
  .test .test-title {
    text-transform: uppercase;
    font-size: 20em; }
    .test .test-title span {
      display: block;
      font-size: 11rem;
      line-height: 10px;
      margin-bottom: 100px; }
      @media screen and (max-width: 800px) {
        .test .test-title span {
          font-size: 8.1rem; } }
      @media screen and (max-width: 525px) {
        .test .test-title span {
          font-size: 5.5rem; } }
    @media screen and (max-width: 800px) {
      .test .test-title {
        font-size: 15em; } }
    @media screen and (max-width: 525px) {
      .test .test-title {
        font-size: 10em; } }
  .test .test-warning {
    margin-bottom: 40px;
    font-size: 3em;
    width: 500px;
    margin: 0 auto; }
    @media screen and (max-width: 800px) {
      .test .test-warning {
        font-size: 2em;
        width: 400px; } }
    @media screen and (max-width: 525px) {
      .test .test-warning {
        font-size: 1.5em;
        width: 300px; } }
  .test .first-test {
    font-size: 2em;
    margin: 50px 0 10px 0; }
    @media screen and (max-width: 800px) {
      .test .first-test {
        font-size: 1.5em; } }
  .test .btn-appointment {
    width: 250px;
    height: 50px;
    border-radius: 50px;
    border: 3px solid #777777;
    color: #00AAC5;
    font-size: 2em;
    background: #ffffff;
    margin-bottom: 80px;
    cursor: pointer; }
    @media screen and (max-width: 800px) {
      .test .btn-appointment {
        width: 180px;
        height: 40px;
        font-size: 1.5em; } }
    @media screen and (max-width: 525px) {
      .test .btn-appointment {
        width: 200px;
        height: 40px;
        font-size: 1.5em; } }

.copyright {
  font-family: "Century Gothic";
  width: 95%;
  margin: 0 auto;
  background: #EFEFEF;
  margin-top: 40px;
  text-align: center; }
  @media screen and (max-width: 525px) {
    .copyright {
      margin-top: 50px; } }
  .copyright .copyright-text {
    font-size: 2em;
    padding: 10px 0 10px 0; }
    @media screen and (max-width: 800px) {
      .copyright .copyright-text {
        font-size: 1.3em; } }
    @media screen and (max-width: 525px) {
      .copyright .copyright-text {
        font-size: 1.1em; } }

.contact {
  font-family: "Book Antiqua";
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: visibility 0s, opacity 0.5s;
  -o-transition: visibility 0s, opacity 0.5s;
  transition: visibility 0s, opacity 0.5s; }
  .contact .form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    width: 80%;
    height: 95%;
    background: #ffffff; }
    .contact .form #contact-form {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
    @media screen and (max-width: 800px) {
      .contact .form {
        width: 600px; } }
    @media screen and (max-width: 525px) {
      .contact .form {
        width: 400px; } }
    .contact .form .contact-title {
      font-size: 2em;
      letter-spacing: 2px;
      margin-bottom: 20px;
      color: #777777; }
    .contact .form .contact-close {
      position: absolute;
      cursor: pointer;
      font-size: 2em;
      color: #777777;
      top: 20px;
      right: 25px; }
    .contact .form .number-title {
      margin: 20px 0px 5px 0;
      font-size: 2em;
      color: #777777; }
    .contact .form .phone-number {
      font-size: 2em;
      color: #777777; }
    .contact .form form {
      -webkit-transition: all 4s ease-in-out;
      -o-transition: all 4s ease-in-out;
      transition: all 4s ease-in-out;
      margin: 0 auto;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; }
      .contact .form form input {
        height: 40px; }
      .contact .form form label {
        font-size: 2em;
        color: #777777;
        margin-bottom: 10px; }
      .contact .form form .form-control {
        width: 600px;
        background: transparent;
        border: 1px solid rgba(0, 0, 0, 0.15);
        font-size: 18px;
        padding-left: 20px;
        margin-bottom: 16px; }
        @media screen and (max-width: 800px) {
          .contact .form form .form-control {
            width: 500px; } }
        @media screen and (max-width: 525px) {
          .contact .form form .form-control {
            width: 300px; } }
      .contact .form form textarea {
        padding-top: 20px; }
      .contact .form form .submit {
        font-family: "Book Antiqua";
        background: #ffffff;
        color: #00AAC5;
        border: 1px solid rgba(0, 0, 0, 0.15);
        font-size: 20px;
        letter-spacing: 1px;
        width: 220px;
        height: 40px;
        margin: 0 auto; }
        .contact .form form .submit:hover {
          -webkit-transition: all 0.4s ease-in-out;
          -o-transition: all 0.4s ease-in-out;
          transition: all 0.4s ease-in-out;
          background-color: #008599;
          border-color: #00AAC5;
          color: #ffffff;
          cursor: pointer; }
        @media screen and (max-width: 525px) {
          .contact .form form .submit {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            margin-bottom: 10px;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center; } }
      .contact .form form .clearsub {
        margin: 0 auto; }
