html {
  font-size: 62.5%; }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
  box-sizing: inherit; }

body {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

header {
  font-family: "Book Antiqua";
  overflow-x: hidden; }
  header nav .nav-links {
    font-size: 1.9em;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    @media screen and (max-width: 800px) {
      header nav .nav-links {
        font-size: 1.5em; } }
    @media screen and (max-width: 525px) {
      header nav .nav-links {
        display: none; } }
    header nav .nav-links li {
      list-style: none;
      padding: 15px 40px; }
      header nav .nav-links li a {
        text-decoration: none;
        position: relative; }
        header nav .nav-links li a:before {
          content: "";
          position: absolute;
          top: 25px;
          width: 100%;
          height: 2px;
          background: black;
          -webkit-transform: scaleX(0);
          -ms-transform: scaleX(0);
          transform: scaleX(0);
          -webkit-transition: all 0.2s ease-in-out 0s;
          -o-transition: all 0.2s ease-in-out 0s;
          transition: all 0.2s ease-in-out 0s; }
        header nav .nav-links li a:hover:before {
          visibility: visible;
          -webkit-transform: scaleX(1);
          -ms-transform: scaleX(1);
          transform: scaleX(1); }
  header .hamburger {
    position: absolute;
    top: 25px;
    right: 20px;
    width: 45px;
    height: 3px;
    background: #000000;
    display: none; }
    header .hamburger::before, header .hamburger::after {
      content: "";
      position: absolute;
      width: 45px;
      height: 3px;
      background: #000000; }
    header .hamburger::before {
      top: 10px; }
    header .hamburger::after {
      top: -10px; }
    @media screen and (max-width: 525px) {
      header .hamburger {
        display: block; } }
  header .mobile-nav-menu {
    background: #EFEFEF;
    -webkit-box-shadow: 1px 0px 10px rgba(0, 0, 0, 0.4);
    box-shadow: 1px 0px 10px rgba(0, 0, 0, 0.4);
    width: 250px;
    position: absolute;
    display: none;
    -webkit-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in; }
    header .mobile-nav-menu .close-menu {
      font-size: 3em;
      padding: 15px 0 30px 208px; }
    header .mobile-nav-menu .mobile-nav-links {
      height: 100vh; }
      header .mobile-nav-menu .mobile-nav-links li {
        font-size: 1.8em;
        padding: 65px 30px;
        list-style: none;
        text-transform: uppercase; }
        header .mobile-nav-menu .mobile-nav-links li a {
          text-decoration: none;
          color: #000000; }
          header .mobile-nav-menu .mobile-nav-links li a:visited {
            text-decoration: none; }

.hero {
  background: #FBFBFB;
  width: 95%;
  margin: 0 auto;
  text-align: center;
  padding: 140px 0;
  font-family: "Book Antiqua"; }
  @media screen and (max-width: 525px) {
    .hero {
      height: 100vh;
      background: #ffffff; } }
  .hero .hero-logo {
    width: 310px; }
    @media screen and (max-width: 525px) {
      .hero .hero-logo {
        margin-top: 200px; } }
  .hero .hero-title {
    font-weight: bold;
    font-size: 3em;
    padding: 120px 0; }
    @media screen and (max-width: 800px) {
      .hero .hero-title {
        font-size: 2.5em; } }
    @media screen and (max-width: 525px) {
      .hero .hero-title {
        display: none; } }
  .hero .hero-quote {
    font-size: 2em;
    width: 400px;
    margin: 0 auto; }
    @media screen and (max-width: 525px) {
      .hero .hero-quote {
        display: none; } }

.summary {
  font-family: "Century Gothic";
  margin-bottom: 90px;
  text-align: center; }
  @media screen and (max-width: 525px) {
    .summary {
      display: none; } }
  .summary .summary-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    width: 1200px;
    margin: 40px auto; }
    @media screen and (max-width: 1210px) {
      .summary .summary-group {
        width: 800px; } }
    @media screen and (max-width: 800px) {
      .summary .summary-group {
        width: 400px;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center; } }
    .summary .summary-group .laser .beam {
      width: 50px; }
    .summary .summary-group .aqua .aquadrop {
      width: 48px; }
    .summary .summary-group .specs {
      margin-top: 25px; }
      .summary .summary-group .specs .frames {
        width: 80px; }
    .summary .summary-group .sum-title {
      font-weight: bold;
      font-size: 2.5em; }
    .summary .summary-group .sum-desc {
      font-size: 1.5em; }
    .summary .summary-group .laser,
    .summary .summary-group .aqua,
    .summary .summary-group .specs {
      width: 300px; }
      @media screen and (max-width: 1210px) {
        .summary .summary-group .laser,
        .summary .summary-group .aqua,
        .summary .summary-group .specs {
          width: 400px; } }
      @media screen and (max-width: 800px) {
        .summary .summary-group .laser,
        .summary .summary-group .aqua,
        .summary .summary-group .specs {
          margin: 40px 0 40px 0; } }
  .summary .btn-moreinfo {
    width: 200px;
    height: 50px;
    border-radius: 50px;
    border: 3px solid #777777;
    color: #00AAC5;
    font-size: 2em;
    background: #ffffff; }

.products {
  font-family: "Century Gothic"; }
  .products .glasses {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background: #FBFBFB;
    width: 90%;
    height: 500px;
    margin: 0 auto;
    margin-bottom: 60px; }
    @media screen and (max-width: 800px) {
      .products .glasses {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        height: 450px; } }
    .products .glasses .glasses-img {
      background-image: url("../img/glasses1.jpg");
      background-size: cover;
      background-position: center;
      width: 400px;
      width: 60%;
      -webkit-clip-path: polygon(0 0, 100% 0, 63% 100%, 0% 100%);
      clip-path: polygon(0 0, 100% 0, 63% 100%, 0% 100%); }
      @media screen and (max-width: 800px) {
        .products .glasses .glasses-img {
          -webkit-clip-path: none;
          clip-path: none;
          height: 250px;
          width: 100%; } }
    .products .glasses .glasses-info {
      width: 40%;
      text-align: right;
      margin: 140px 40px 0px 0px; }
      @media screen and (max-width: 800px) {
        .products .glasses .glasses-info {
          width: 100%;
          text-align: center;
          margin-top: 20px;
          margin-bottom: 35px; } }
  .products .aqua-treatment {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background: #FBFBFB;
    width: 90%;
    height: 500px;
    margin: 0 auto;
    margin-bottom: 60px; }
    @media screen and (max-width: 800px) {
      .products .aqua-treatment {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        height: 540px; } }
    @media screen and (max-width: 800px) {
      .products .aqua-treatment {
        height: 510px; } }
    .products .aqua-treatment .aquatreatment-img {
      background-image: url("../img/aqua1.jpg");
      background-size: cover;
      background-position: center;
      width: 400px;
      width: 60%;
      -webkit-clip-path: polygon(0 0, 100% 0, 63% 100%, 0% 100%);
      clip-path: polygon(0 0, 100% 0, 63% 100%, 0% 100%); }
      @media screen and (max-width: 800px) {
        .products .aqua-treatment .aquatreatment-img {
          -webkit-clip-path: none;
          clip-path: none;
          height: 250px;
          width: 100%; } }
    .products .aqua-treatment .aquatreatment-info {
      width: 40%;
      text-align: right;
      margin: 120px 40px 0px 0px; }
      @media screen and (max-width: 800px) {
        .products .aqua-treatment .aquatreatment-info {
          width: 100%;
          text-align: center;
          margin-top: 25px; } }
      @media screen and (max-width: 525px) {
        .products .aqua-treatment .aquatreatment-info {
          margin-top: 20px; } }
  .products .laser-eye {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background: #FBFBFB;
    width: 90%;
    height: 500px;
    margin: 0 auto;
    margin-bottom: 60px; }
    @media screen and (max-width: 800px) {
      .products .laser-eye {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        height: 540px; } }
    .products .laser-eye .lasereye-img {
      background-image: url("../img/lasereye.jpg");
      background-size: cover;
      background-position: center;
      width: 400px;
      width: 60%;
      -webkit-clip-path: polygon(0 0, 100% 0, 63% 100%, 0% 100%);
      clip-path: polygon(0 0, 100% 0, 63% 100%, 0% 100%); }
      @media screen and (max-width: 800px) {
        .products .laser-eye .lasereye-img {
          -webkit-clip-path: none;
          clip-path: none;
          height: 250px;
          width: 100%; } }
    .products .laser-eye .lasereye-info {
      width: 40%;
      text-align: right;
      margin: 120px 40px 0px 0px; }
      @media screen and (max-width: 1210px) {
        .products .laser-eye .lasereye-info {
          margin-top: 90px; } }
      @media screen and (max-width: 800px) {
        .products .laser-eye .lasereye-info {
          width: 100%;
          text-align: center;
          margin-top: 25px; } }
      @media screen and (max-width: 800px) {
        .products .laser-eye .lasereye-info {
          margin-top: 20px; } }
  .products .product-title {
    font-weight: bold;
    font-style: italic;
    font-size: 2.8em;
    margin-bottom: 10px; }
  .products .product-desc {
    font-size: 2.1em;
    margin-bottom: 30px; }
    @media screen and (max-width: 800px) {
      .products .product-desc {
        font-size: 1.8em;
        width: 450px;
        margin: 0 auto;
        margin-bottom: 20px; } }
    @media screen and (max-width: 525px) {
      .products .product-desc {
        font-size: 1.5em;
        width: 300px; } }
  .products .btn-appointment {
    width: 250px;
    height: 50px;
    border-radius: 50px;
    border: 3px solid #777777;
    color: #00AAC5;
    font-size: 2em;
    background: #ffffff; }
    @media screen and (max-width: 525px) {
      .products .btn-appointment {
        width: 200px;
        height: 40px;
        font-size: 1.5em; } }

.about {
  display: none; }

.test {
  display: none; }

.copyright {
  display: none; }
