.contact{
    font-family: "Book Antiqua";
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.5);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s;


    .form{     
        
        //The White Box containing all form elements and phone number
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        width: 80%;
        height: 95%;
        background: $white;
        // border-radius: 5px;  

        #contact-form{
            display: flex;
            justify-content: center;
            align-items: center;
        }

        //Change layout when it hits tablet size
        @include respond(tablet){
            width: 600px;
        }

        //Change layout when it hits mobile size
        @include respond(mobile){
            width: 400px;
        }


        //Contact US
        .contact-title{
            font-size: 2em;
            letter-spacing: 2px;
            margin-bottom: 20px;
            color: $dark-grey;
        }
    
        // X
        .contact-close{
            position: absolute;
            cursor: pointer;
            font-size: 2em;
            color: $dark-grey;
            top: 20px;
            right: 25px;
        }

        //Or give us a call
        .number-title{
            margin: 20px 0px 5px 0;
            font-size: 2em;
            color: $dark-grey;
        }

        // 0156 884 9875
        .phone-number{
            font-size: 2em;
            color: $dark-grey;
        }

        form{
            transition: all 4s ease-in-out;
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            
            //Applies style to the "Name" and "Email" input box
            input{
                height: 40px;
            }

            // Name, Email, Message
            label{
                font-size: 2em;
                color: $dark-grey;
                margin-bottom: 10px;
            }

            //Applied to "Name", "Email", "Message" inputs and the "Send Message" button
            .form-control{
                width: 600px;
                background: transparent;
                border: 1px solid rgba(0,0,0,0.15);
                // border-radius: 5px;
                font-size: 18px;
                padding-left: 20px;
                margin-bottom: 16px;

                @include respond(tablet){
                    width: 500px;
                }

                @include respond(mobile){
                    width: 300px;
                    
                }
            }

            //The area you write the "message"
            textarea{
                padding-top: 20px;
            }

            //Send Message Button
            .submit{
                font-family: "Book Antiqua";
                background: $white;
                color: $accent;
                // border-color: $accent;
                border: 1px solid rgba(0,0,0,0.15);
                font-size: 20px;
                letter-spacing: 1px;
                width: 220px;
                height: 40px;
                margin: 0 auto;

                //When you hover over the "Send Message" button
                &:hover{
                    transition: all 0.4s ease-in-out;
                    background-color: rgb(0, 133, 153);
                    border-color: $accent;
                    color: $white;
                    cursor: pointer;
                }
                
                @include respond(mobile){
                    display: flex;
                    margin-bottom: 10px;
                    justify-content: center;
                }
            }

            .clearsub{
                margin: 0 auto;
            }
        }
    }
}