header{

    font-family: "Book Antiqua";
    // overflow-x: hidden;

    nav{

        // background: pink;

        .nav-links{
            font-size: 1.9em;
            // background: yellow;
            margin: 0 auto;
            display: flex;
            justify-content: center;

            //Change layout when it hits tablet size
            @include respond(tablet){
                font-size: 1.5em;
            }

            //Change layout when it hits mobile size
            @include respond(mobile){
                display: none;
            }

            li{
                list-style: none;
                padding: 15px 40px;                

                a{
                    text-decoration: none;    
                    position: relative;  
                    color: $black; 

                    //The black lines that appear when you hover
                    &:before{
                        content: "";
                        position: absolute;                        
                        top: 25px;
                        width: 100%;
                        height: 2px;
                        background: black;
                        transform: scaleX(0);
                        transform-origin: left;
                        transition: all 0.3s ease-in-out 0s;
                    }

                    //Activating the black lines on hover                    
                    &:hover:before{
                        visibility: visible;
                        transform: scaleX(1);
                    }
                }

            }           
            
        }
    }

    //The 3 lines that appear during mobile size
    .hamburger{
        position: absolute;
        top: 25px;
        right: 20px;
        width: 45px;
        height: 3px;
        background: $black;
        display: none;

        &::before,
        &::after{
            content: "";
            position: absolute;
            width: 45px;
            height: 3px;
            background: $black;
        }

        &::before{
            top: 10px;
        }

        &::after{
            top: -10px;
        }

        //Change layout when it hits mobile size
        @include respond(mobile){
            display: block;
        }
    }

    .mobile-nav-menu{
        
        font-family: "Century Gothic";
        background: $medium-grey;
        outline: 2px solid $white;
        outline-offset: -10px;
        width: 100%;
        height: 500px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        opacity: 0;
        transition: all 0.5s cubic-bezier(0.890, 0.040, 0.190, 0.825);
        transform: translateY(-600px);

        .close-menu{
            position: absolute;
            top: 25px;
            right: 30px;
            font-size: 2.5em;
        }

        .mobile-nav-links{

            text-align: center;
            

            li{
                font-size: 2.6em;
                // font-weight: bold;
                padding: 30px 0;
                list-style: none;
                text-transform: uppercase;

                a{
                    text-decoration: none;
                    color: red;

                    &:visited{
                        text-decoration: none;
                    }
                }
            }
        }
        
    }
}